/* HTML Stylers */

.fixed { position: fixed }

.shokunin {
	font-family: var(--japanese) ;
	font-weight: 900;
	font-style: normal }

.text-capitalize {
	text-transform: capitalize }
	
.text-lowercase {
	text-transform: lowercase }
	
.text-inherit {
	border: inherit;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	letter-spacing: inherit;
	line-height: inherit;
	margin: inherit;
	padding: inherit }

.text-reset {
	font-family: initial;
	font-size: inherit;
	border: none;
	letter-spacing: inherit;
	text-transform: none }
	
.text-uppercase {
	text-transform: uppercase }

.text-center { text-align: center }
.text-right { text-align: right }

.vert {
	writing-mode: vertical-rl }

.window {
	background: var(--lowmood); 
	border: var(--mood) 3px outset;
	border-top: var(--mood) 12px outset;
	/*box-shadow: 0 0 20em var(--fademood);*/
	color: var(--mood);
	font-size: 0.8em;
	padding: calc(1vw + 1.5vh);
	max-width: calc(22vh + 22vw);
}
	.window:before { /* arrow */
		background: linear-gradient(
			to bottom right,
			var(--mood),
			var(--mood) 50%,
			var(--nomood) 50%);
		content: '';
		display: block;
		height: 1em;
		margin-right: 0.5em;
		width: 1em;
	}
.wrapper { padding: var(--pad) }
.z-index { z-index: 1 }
		
		