body {
	color: var(--mood);
	font: var(--font);
	/* -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; */
	letter-spacing: 0em;
	overflow-x: hidden }

a 	{
	background: var(--fadeMood);
	color: var(--black);
	text-decoration: none;
	text-transform: uppercase;
	transition: var(--ease-o) }
	a:hover {
	background: var(--dimMood);
	color: var(--mood) }

footer { height: 2em }

/* headings */
/* note h1 is only for header title */

h1, h2, h3 {
	font: var(--font);
	letter-spacing: 0em;
	text-transform: uppercase }
h2 { /* true h1 */
	font-size: calc(2.5vw + 2.5vh) }

header {
	background: var(--mood);
	color: var(--black) }

img {
	display: block;
	max-height: 100%;
	max-width: 100% }
	
menu, ul { list-style: none }
	ol { padding-left: 1em }

nav > a {
	margin: 0 0.75em;
	padding: 0.25em }
	nav > a:before {
	background: var(--shade);
	content:"[] " }

p { margin: 1em 0 }






