#avatar {
	/*border-radius: 50%;*/
	
	clip-path: polygon(
		0 5px,
		5px 0,
		calc(100% - 5px) 0,
		100% 5px,
		100% calc(100% - 5px),
		calc(100% - 5px) 100%,
		5px 100%,
		0 calc(100% - 5px)
	);
	height:40px;
	width:40px
}

#cover {
	background-position: center !important;
	background-size: cover !important;
	/*-webkit-mask-image: SVG;
	-webkit-mask-position: center;*/
	min-height: 80vh;
}
#cover > div:nth-child(1) {
}
#cover > div:nth-child(1) > div:nth-child(1), #cover > div:nth-child(1) > div:nth-child(3) {
	background: transparent;
}