/* load fonts */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
:root {
	--empty:	hsla(0, 0%, 0%, 0);
	--shade:	hsla(0, 0%, 6%, 0.5);
	--fog:		hsla(0, 0%, 100%, 0.78);
	--clear:	hsla(0, 0%, 100%, 0);
	
	--black:	hsla(0, 0%, 0%, 1);
	--dark:		hsla(0, 0%, 11%, 1);
	--grey:		hsla(0, 0%, 38%, 1);
	--light:	hsla(0, 0%, 82%, 1);
	--white:	hsla(0, 0%, 100%, 1);

	--ease:		400ms ease;
	--ease-i:	300ms ease-in;
	--ease-io:	400ms ease-in-out;
	--ease-o:	300ms ease-out;
	--long:		2000ms ease;
	--linear:	300ms linear;
}