/* create variables */
:root {
	--type:		700 1rem/1.25em larabiefont, monospace;
	--empty:	hsla(0, 0%, 0%, 0);
	--shade:	hsla(0, 0%, 6%, 0.33);
	--fog:		hsla(0, 0%, 100%, 0.67);
	--clear:	hsla(0, 0%, 100%, 0);
	
	--black:	hsla(0, 0%, 0%, 1);
	--dark:		hsla(0, 0%, 11%, 1);
	--grey:		hsla(0, 0%, 38%, 1);
	--light:	hsla(0, 0%, 82%, 1);
	--white:	hsla(0, 0%, 100%, 1);
	
	--hue		0;
	--mood:		hsla(0, 0%, 100%, 1);
	--fademood:	hsla(0, 0%, 100%, 0.9);
	--lowmood:	hsla(0, 0%, 100%, 0.1);
	--nomood:	hsla(0, 0%, 100%, 0);
	
	--crt-blue:	0 1px rgba(0,30,255,0.5);
	--crt-red:	0 1px rgba(255,0,80,0.3);

	--ease:		300ms ease;
	--ease-i:	300ms ease-in;
	--ease-io:	300ms ease-in-out;
	--ease-o:	300ms ease-out;
	--long:		2000ms ease;
	--linear:	200ms linear;
	
	--sml:		calc(1vw + 1vh);
	--lrg:		calc(2vw + 2vh) }
	
/* elements */

*	{
	margin: 0;
	padding: 0 }

html {
	background-color: #000000;
	font-size: 32px }

body {
	color: var(--mood);
	font: var(--type);
	letter-spacing: 0.05em;
	overflow-x: hidden;
	text-shadow: 2em var(--mood) }

a {
	background-color: var(--nomood);
	color: var(--mood);
	text-decoration: none;
	text-transform: uppercase;
	transition: var(--linear) }
	a:hover {
	background-color: var(--mood);
	color: var(--black) }

h1, h2, h3 {
	font: var(--type);
	letter-spacing: 0;
	text-transform: uppercase }
	h1 { font-weight: 700 }
	h2 { font-size: 2em }
	h3 { text-transform: none }

header {
	background-color: var(--mood);
	color: var(--black);
	margin-top: var(--sml);
	padding: 0 var(--lrg) }

img {
	filter: grayscale(100%) sepia(100%) hue-rotate(var(--hue));
	object-fit: cover;
	max-height: 100%;
	max-width: 100%;
	image-rendering:pixelated;
	transform: scale(0.5);
	width: 200%; height: 200%;}

main {
	border: var(--mood) 7px outset;
	border-top: var(--mood) 11px outset;
	margin: var(--sml);
	max-width: ;
	min-height: ;
	padding: var(--sml) }

menu, ul { list-style:none }
	ol { padding-left:1em }

nav { }
	nav:before { /* arrow */
		background: linear-gradient(to bottom right, var(--mood), var(--mood) 50%, var(--empty) 50%);
		content:'';
		display: block;
		height: 1em;
		margin-right: 0.5em;
		width: 1em }
	nav > a { /* nav links */
		display: block;
		font-weight: 700 }
	nav > a:before {
		content:'/';
		font-weight: 400 }
	nav > a:after {
		content:'.html';
		font-size: 0.5em;
		font-weight: 400;
		text-transform:lowercase }

section, nav {
	margin-top: var(--sml);
	margin-bottom: var(--lrg) }
		
/* classes */

.shokunin {
	font-family: vdl-logojrblack, sans-serif;
	font-weight: 900;
	font-style: normal }

.window {
	background: var(--lowmood); 
	border: var(--mood) 7px outset;
	border-top: var(--mood) 11px outset;
	/*box-shadow: 0 0 20em var(--fademood);*/
	color: var(--mood);
	font-size: 0.8em;
	padding: calc(1vw + 1.5vh);
	max-width: calc(22vh + 22vw) }
	.window:before { /* arrow */
		background:
		linear-gradient(to bottom right, var(--mood), var(--mood) 50%, var(--empty) 50%);
		content: '';
		display: block;
		height: 1em;
		margin-right: 0.5em;
		width: 1em }