/* load fonts */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

/* create variables */
:root {
	--type:		400 100%/1.25em larabiefont, monospace;
	--bold:		700 100%/1.25em larabiefont, monospace;
	--empty:	hsla(0, 0%, 0%, 0);
	--shade:	hsla(0, 0%, 6%, 0.33);
	--fog:		hsla(0, 0%, 100%, 0.67);
	--clear:	hsla(0, 0%, 100%, 0);
	
	--black:	hsla(0, 0%, 0%, 1);
	--dark:		hsla(0, 0%, 11%, 1);
	--grey:		hsla(0, 0%, 38%, 1);
	--light:	hsla(0, 0%, 82%, 1);
	--white:	hsla(0, 0%, 100%, 1);
	
	--mood:		hsla(0, 0%, 100%, 1);
	--fademood:	hsla(0, 0%, 100%, 0.8);
	--dimmood:	hsla(0, 0%, 100%, 0.2);

	--ease:		100ms ease;
	--ease-i:	100ms ease-in;
	--ease-io:	100ms ease-in-out;
	--ease-o:	100ms ease-out;
	--long:		2000ms ease;
	--linear:	100ms linear }
	
/* selectors */
*	{
	margin: 0;
	padding: 0 }

html {
	background-color: #000000;
	font-size: 16px }

body {
	color: var(--mood);
	font: var(--type);
	letter-spacing: 0em;
	overflow-x: hidden }

body > * { padding: calc(2.5vw + 2.5vh) }

a 	{
	background-color: var(--empty);
	color: var(--mood);
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
	transition: var(--linear) }
	
a:hover {
	background-color: var(--mood);
	color: var(--empty) }

footer { height: 2em }

h1, h2, h3 {
	font: var(--bold);
	letter-spacing: 0em;
	text-transform: uppercase }
	
h2 { font-size: calc(2.5vw + 2.5vh) }

header {
	background-color: var(--mood);
	color: var(--black) }

img {
	display: block;
	max-height: 100%;
	max-width: 100% }

menu, ul { list-style: none } ol { padding-left: 1em }

nav > a { padding: 0 0.25em}
nav > a:before { content:"x " }






