.window {
	background: var(--dimmood);
	border: var(--mood) 1px outset;
	border-top: var(--mood) 10px outset;
	box-shadow: 0 0 8em var(--fademood);
	color: var(--mood);
	font-size: 0.8em;
	padding: calc(1vw + 1.5vh);
	margin: 2em 0;
	max-width: calc(22vh + 22vw) }
	
/* arrow */
.window:before {
	background:
	linear-gradient(to bottom right, var(--mood), var(--mood) 50%, var(--empty) 50%);
	content:'';
	display: block;
	height: 1em;
	margin-right: 0.5em;
	width: 1em }