/* Header.css */
header {
	align-items: center;
	display: flex;
	height: var(--header-height);
	justify-content: center;
	position: fixed;
	width: 100%;
	z-index: 99;
}
/*
header::before,
header::after {
	--dash-width: 16px;
	background-color: var(--light);
	content: "";
	height: 1px;
	margin: 0 calc(var(--margin)/2 - var(--dash-width)/2);
	width: var(--dash-width);
}

header.portfolio {
	position: static;
}

header.portfolio::before,
header.portfolio::after {
	background-color: var(--text-color);
}
*/
#burger {
	display: none;
}


nav {
	/* controls header background */
	align-items: center;
	background: var(--bg-color);
	display: flex;
	height: 100%;
	justify-content: space-between;
	padding: 0 var(--margin);
	width: 100%;
}

nav a {
	text-transform: uppercase;
}

nav a span {
	font-variation-settings: "wght" 400, "wdth" 80, "slnt" 0;
	letter-spacing: 0.03rem;
}

.nav-bar {
	align-items: center;
	display: flex;
	gap: 48px;
}

#desktop-nav-list {
	justify-content: flex-end;
	display: flex;
	gap: 48px;
	width: 100%;
}


.popout-menu {
	background-color: var(--bg-color);
	position: fixed;
	top: var(--header-height);
	transition: var(--ease);
	/* Add a transition for smooth sliding */
	width: 256px;
	z-index: 1;

}

.popout-menu a {
	/* Adjust color as needed */
	text-decoration: none;
}

.popout-menu li {
	padding: 10px;
	border-bottom: 1px solid var(--text-color);
	/* Adjust color as needed */
}

.popout-menu li:last-child {
	border-bottom: none;
}

/* The switch - the box around the slider */
.theme-switch {
	position: relative;
	width: 60px;
	height: 32px;
}

/* Hide default HTML checkbox */
.theme-switch input {
	opacity: 0;
	position: absolute;
}

.theme-switch .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--grey);
	border-radius: 32px;
}

.theme-switch .slider:before {
	position: absolute;
	content: "";
	height: 24px;
	width: 24px;
	left: 4px;
	bottom: 4px;
	background-color: var(--bg-color);
	transition: .4s;
	border-radius: 50%;
}

.theme-switch input:checked + .slider {
	background-color: var(--grey);
}

.theme-switch input:checked + .slider:before {
	transform: translateX(26px);
}
