/* Carousel.css */

.carousel {
    overflow: hidden;
    padding-bottom: calc(1.5em + 24px);
}

.slide {
    flex-shrink: 0;
}

button.prev,
button.next {
    bottom: var(--header-height);
    color: var(--text-color);
    cursor: pointer;
    font-size: 1.5em;
	font-variation-settings: "wght" 100, "wdth" 100, "slnt" -10;
    padding: 6px var(--padding);
    position: absolute;
    z-index: 10;
}

button.prev {
    border-left: 1px solid var(--text-color);
    left: var(--margin);
}

button.next {
    border-right: 1px solid var(--text-color);
    right: var(--margin);
}