/* Portfolio.css */
#portfolio .ava {
    max-height: calc( var(--h1-lrg) + var(--h1s-lrg) );
}
#portfolio h1 {
    font-size: var(--h1-lrg);
}

#portfolio h1 span {
    font-size: var(--h1s-lrg);
}

#portfolio-display {
    margin: 0 var(--margin);
}

#portfolio-display, #portfolio-display div {
    gap: 1px;
}