footer {
	height: calc(100vh - 128px);
}

footer > section {
	flex-grow: 1;
}

footer #big-contact {
	height: 100%;
}

footer abbr {
	font-size: 96px;
	font-variation-settings: "wght" 900, "wdth" 200, "slnt" 0;
	text-decoration: none;
}	

footer button {
	background-color: var(--light);
	border: var(--dark) 1px solid;
	border-radius: 100%; 
	font-size: 36px;
	font-variation-settings: "wght" 900, "wdth" 100, "slnt" -10;
	height: 278px;
	width: 278px;
}

footer button:hover {
	font-variation-settings: "wght" 900, "wdth" 200, "slnt" -10;
}

footer section div:last-child {
	background: var(--white);
	padding-top: 32px;
	margin: 0 calc( var(--margin) / 2 );
	text-align: center;
}

footer > div > p {
	font-variation-settings: "wght" 600, "slnt" -10;
}

.shokunin {
	background: var(--dark);
	color: var(--white);
	font-family: var(--japanese);
	font-size: 16px;
	letter-spacing: 0.12em;
	padding: 1em 0;
	margin: 0;
	text-align: center;
}