/* for mobile */
@media (max-width: 1200px) {
	:root {
		--margin: 16px;
		--padding: 16px;
	}

	article {
		flex-direction: column;
		gap: 32px;
	}

	h1 {
		font-variation-settings: "wght" 700, "wdth" 50;
		letter-spacing: 0.03em;
	}
	h1 span {
		font-variation-settings: "wght" 800, "wdth" 75;
		letter-spacing: 0.03em;
	}	
	
	h2 {
		letter-spacing: 0.1em;
		padding-left: var(--padding);
		text-transform: uppercase;
	}

	h3, h3 span {
		font-size: 32px;
	}

	

	footer abbr {
		font-variation-settings: "wght" 500, "wdth" 50, "slnt" 0;
	}	

	header {
		height: calc( var(--header-height) * 0.67 );
	}

	main {
		margin-top: calc( var(--header-height) * 0.67 );
	}
	
	menu {
		display: none;
	}

	* {
		font-size: 18px;
	}
	#burger {
		cursor: pointer;
		display: block;
	}

}
