/* App.css */
:root {
	--transducer: 20px "transducer-variable", sans-serif;
	--margin: 128px;
	--padding: 32px;
	--gap: 64px;
	--header-height: 128px;

	--black: hsla(198, 7%, 6%, 1);
	--dark: hsla(216, 7%, 11%, 1);
	--grey: hsla(202, 5%, 61%, 1);
	--light: hsla(0, 0%, 85%, 1);
	--white: hsla(0, 0%, 96%, 1);
	--sqrup: #eff2f5;
	--cyan: hsla(190, 100%, 40%, 1);
	--magenta: hsla(320, 100%, 40%, 1);

	--ease: 300ms ease;

	--h1-size: 1.4em;
	--h1span-size: 0.57em;
	--h1-lrg: calc(5vw + 5vmin);
	--h1s-lrg: calc(2.5vw + 2.5vmin);

	--bg-color: var(--light);
	--text-color: var(--dark);

	--glass: radial-gradient( ellipse at top left, hsla(0, 0%, 100%, 0.4), hsla(0, 0%, 100%, 0) );
	--blur: blur(24px);
}

[data-theme='light'] {
	--bg-color: var(--light);
	--text-color: var(--dark); /* Light theme text color */
}

[data-theme='dark'] {
	--bg-color: var(--dark);
    --text-color: var(--light); /* Dark theme text color */
}

* {
	box-sizing: border-box;
}

a {
	color: var(--text-color);
	text-decoration: none;
}

.App,
footer,
main,
section {
	display: flex;
	flex-direction: column;
}

.App {
	gap: 64px;
}

article {
	display: flex;
	gap: 0px;
}

article :is(a, button) {
	margin: auto;
}

article > * {
	display: flex;
	flex: 1 1;
}

.article-content {
	flex-direction: column;
	padding: 0 var(--padding);
	
}

.article-content p {
	line-height: 1.66em;
}

.article-image {
	align-self: stretch;
	object-fit: cover;
	width: 100%;
	height: 50vh;
}


body {
	margin: 0;
	color: var(--text-color);
	font: var(--transducer);
	font-size: calc(10px + 1vmin);
	font-variation-settings: "wght" 400, "wdth" 100, "slnt" 0;

}

canvas {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -9999;
}

figure {
	margin: 0;
}

form {
	display: flex;
	flex-direction: column;
	gap: 1.5em;
	margin: auto;
}

form > input {
	padding: 0.5em;
}

[class*="flex"] { display: flex; }

.flex-between {
	justify-content: space-between
}

.flex-around {
	justify-content: space-around
}

.flex-align-between {
	align-items: center;
	justify-content: space-between
}

.flex-align-end {
	align-items: center;
	justify-content: flex-end
}

.flex-end-between {
	align-items: flex-end;
	justify-content: flex-end
}

.flex-center {
	align-items: center;
	justify-content: center
}

.flex-end {
	align-items: flex-end;
	justify-content: flex-end
}

.flex-even {
	align-items: center;
	justify-content: space-evenly
}

.flex-start {
	align-items: center;
	justify-content: flex-start
}

.reverse {
	flex-direction: row-reverse
}

.flex-col {
	flex-direction: column;
}

.flex-col-align {
	flex-direction: column;
	align-items: center;
}

.flex-col-center {
	flex-direction: column;
	align-items: center;
	justify-content: center
}

.align-start {
	align-items: flex-start
}

.align-end {
	align-items: flex-end
}

.wrap {
	flex-wrap: wrap
}

.wrap-r {
	flex-wrap: wrap-reverse
}

h1 {
	font-size: var(--h1-size);
	font-variation-settings: "wght" 900, "wdth" 200;
	letter-spacing: 0.015em;
	margin: 0;
	text-transform: uppercase;
}

h1 span {
	display: block;
	font: var(--transducer);
	font-size: var(--h1span-size);
	font-variation-settings: "wght" 700, "wdth" 200;
	letter-spacing: 0.62em;
}

h2 {
	border-left: var(--text-color) 1px solid;
	font-size: 2em;
	font-variation-settings: "wght" 400, "wdth" 100;
	letter-spacing: 0.33vw;

	text-transform: uppercase;
}

h3 {
	font-size: 1.75em;
	font-variation-settings: "wght" 700, "wdth" 70, "slnt" -10;
	letter-spacing: 0.05em;
}

h3 span {
	display: block;
	font-size: calc(1.5rem + 4vmin);
	font-variation-settings: "wght" 100, "wdth" 100, "slnt" -10;
	letter-spacing: 0.0rem;
	text-transform: uppercase;
}

h4 {
	font-size: 1.5em;
	font-variation-settings: "wght" 700, "wdth" 75, "slnt" -10;
}

.hidden {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

main> :first-child {
	padding-top: calc(var(--header-height) * 1.5);
	padding-bottom: var(--header-height);
}

.number {
	--wdth-value: calc(50 + (150 * (1 - clamp(0, (100vw - 100vh) / 100vw, 1))));
	/* adjust width according to aspect ratio */
	position: relative;
}

.number::before {
	color: var(--text-color);
	content: attr(data-number);
	/* Retrieve the value from the data-number attribute */
	left: var(--padding);
	letter-spacing: -0.05em;
	opacity: .075;
	font-size: calc(12vw + 16vmin);
	font-variation-settings: "wght" 800, "wdth" 100, "slnt" 0;
	position: absolute;
	top: calc(0.25 * var(--margin));
	transform: rotate(180deg);
	writing-mode: vertical-lr;
	z-index: -1;
}


ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

p {
	font-variation-settings: "wght" 400, "wdth" 100, "slnt" 0;
	margin: revert;
}

section {
	gap: 48px;
	padding: 64px 0;
}

section> :is(a, h2, h3, abbr, article, div) {
	margin: 0 var(--margin);
}

section> :is(h2, h3, abbr) {
	padding: 0 var(--padding);
}

video {
	height: 100%;
	width: 100%;
}

.polygon-card {
	--pA: calc(5vmin + 5vw);
	--pB: calc(5vmin + 10vw);
	align-self: center;
	backdrop-filter: blur(2px);
	background: var(--glass);
	border-image: var(--bg-color);
	clip-path: polygon(0 0,
			70% 0,
			80% 10%,
			100% 10%,
			100% 92%,
			32% 92%,
			24% 100%,
			0 100%);
	padding: var(--pA) var(--pB);
}

.polygon-card p {
	font-size: 0.72em;
}