/* Responsive.css */

/*
@media (min-width: 1920px) {
	section {
		align-self: center;
		max-width: 1920px;
		width: 100%;
	}
}
*/

@media (max-width: 1440px) {
	:root {
		--margin: 			48px;
		--padding: 			24px;
		--header-height:	96px;
	}

}

@media (max-width: 768px) {
	:root {
		--margin: 			12px;
		--padding: 			12px;
		--header-height:	96px;
	}

	.App {
		gap: 48px;
	}

	article {
		flex-direction: column-reverse;
		gap: 16px;
	}

	#burger {
		cursor: pointer;
		display: flex;
	}

	#desktop-nav-list {
		display: none;
	}

	section {
		gap: 24px;
	}
}